.logo {
  width: 150px;
  height: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ccc; */
}

.ul-links li {
  display: inline;
  gap: 5px;
}